<%- include('common/header'); -%>

<h1><%=poll.name%></h1>

<form action="" method="post">
    <% for (id in poll.options) { %>
        <% const option = poll.options[id] %>
        <button type="button">
            <label>
                <input type="radio" name="optionId" value="<%=id%>"><%=option.text%></input>
            </label>
        </button>
    <% } %>
    <button type="submit"></button>
</form>

<%- include('common/footer'); -%>
