<%- include('common/header'); -%>

<% if (poll == undefined) { %>
    <h1>Sorry, this poll could not be found</h1>
<% } else { %>
    <h1><%=poll.question%></h1>

    <form action="" method="post">

        <% if (error != undefined) { %>
            <p id="error"><%=error%></p>
        <% } %>

        <% for (id in poll.options) { %>
            <% const option = poll.options[id] %>
            <button type="button">
                <label>
                    <input type="radio" name="optionId" value="<%=id%>"><%=option.text%></input>
                </label>
            </button>
        <% } %>

        <button type="submit">Submit Vote</button>
        
    </form>
<% } %>

<%- include('common/footer'); -%>
